<!DOCTYPE html>
<!--Forget Password Page-->
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Forgot Password</title>
         <!--Connects CSS and JS-->
        <link rel = "stylesheet" href = "/css/calithenicalCSS.css">
        <link rel = "stylesheet" href = "/css/forgetPasswordCSS.css">
        <script src="/js/forgetPassword.js"></script>
    </head>
    <body class = main>
        <!--Adds a Nav Bar with Menu-->
        <nav class = "navbar">
            <div class = "logo">
                <a href = http://localhost:1337>
                    <img src = "/img/calithenical.jpg">
                </a>
            </div>
            <div class = "head">
                <h1 id = "header">Calithenical</h1>
            </div>
            <ul class = "nav-links">
                    <div class = "menu">
                        <li><a href = "http://localhost:1337/login">Login</a></li>
                        <li><a href="http://localhost:1337/feedback">Feedback</a></li>
                    </div>
            </ul>
            <h4 id = "subheader">Join the all new exercise and nutritional social media site today!</h4>
        </nav>
            <div class = "forgetPassPage">
                <!--Form for password reset information-->
                <h1>Forget Your Password?</h4>
                <div class = "forgetPass">
                    <h2>Reset Your Password</h4>
                    <h4>Enter your email to recieve a link to reset your password!</h4>
                    <input id = "passReset" type = "text" placeholder = "Your Email Address"><br>
                    <h5 id = "warning">This email is not valid!</h4><br>
                    <input id = "forPasBtn" type = "button" value = "Reset Password">
                </div> 
            </div>
            <div class = "footer">
                <h6 id = "copyright">Copyright @ 2022 by Calithenical. All rights reserved.</h6>
            </div>
    </body>
</html>