<!DOCTYPE html>
<!--Login Page-->
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Calithenical</title>
        <!--Connects CSS and JS-->
        <link rel = "stylesheet" href = "/css/calithenicalCSS.css">
        <link rel = "stylesheet" href = "/css/loginCSS.css">
        <script src="js/login.js"></script>
    </head>
    <body class = main>
        <!--Adds a Nav Bar with Menu-->
        <nav class = "navbar">
            <div class = "logo">
                <a href = http://localhost:1337>
                    <img src = "/img/calithenical.jpg">
                </a>
            </div>
            <div class = "head">
                <h1 id = "header">Calithenical</h1>
            </div>
            <ul class = "nav-links">
                    <div class = "menu">
                        <li><a href = "http://localhost:1337/login">Login</a></li>
                        <li><a href="http://localhost:1337/feedback">Feedback</a></li>
                    </div>
            </ul>
            <h4 id = "subheader">Join the all new exercise and nutritional social media site today!</h4>
        </nav>
        <div class = "loginHomepage">
            <div id = "resetPass" style = "display:none">
                <h2>INVALID PASSWORD</h2>
                <h3>Reminder: Passwords are case sensitive</h3>
                <h3>Forgot your password? <a href = "http://localhost:1337/forgotPassword">Reset Password</a></h3>
            </div>
            <div class = "login">
                <!--Form for user login information-->
                <form name = "loginForm" id = "logForm">
                    <h2>Log In</h2>
                    <label>Username:</label><br>
                    <input type = "text" id = "user" placeholder="Enter Username Here"><br>
                    <label>Password:</label><br>
                    <input type = "text" id = "password" placeholder="Enter Password Here"><br>
                    <input type = "button" id = "loginBut" value = "Login"><br>
                    <a id = "forPas" class = "link" href = "http://localhost:1337/forgotPassword">Forgot Password?</a> 
                </form>
            </div>
            <!--Option to signup for new users-->
            <div class = "newUser">
                <h2>New User?</h2>
                <a class = "link" href = "http://localhost:1337/signUp">Click here to sign up!</a>
            </div>
            <!--<img id = homeIMG src = "https://media.istockphoto.com/photos/happy-athletic-people-jogging-on-treadmills-in-a-health-club-picture-id1089939832?k=20&m=1089939832&s=612x612&w=0&h=IbLjpVfO5HjD4LHJijlpa1Qw9-3Pws_IsdCnBxdDrA0=">-->
        </div>
        <div class = "footer">
            <h6 id = "copyright">Copyright @ 2022 by Calithenical. All rights reserved.</h6>
        </div>
    </body>
</html>